.cart-main {
  margin: 0 auto;
  width: 80%;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  justify-content: space-between;
  box-shadow: 1px 1px 20px 6px rgb(225, 225, 225);
}
@media (max-width: 980px) {
  .cart-main {
    flex-flow: wrap;
    text-align: center;
    align-content: center;
    align-items: center;
  }
}
.cart-main div {
  height: auto;
}
.cart-main .left {
  color: #323232;
  background-size: cover;
  overflow: hidden;
}
.cart-main .left .overlay2 {
  padding: 30px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  overflow: hidden;
  box-sizing: border-box;
}
.cart-main .left .overlay2 .item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 40px;
  width: 100%;
}
.cart-main .left .overlay2 .item img {
  width: 100px;
  height: 100px;
}
.cart-main .left .overlay2 .item .item-details {
  width: 300px;
}
.cart-main .left .overlay2 .item .item-quantity {
  width: 100px;
}
.cart-main .left .overlay2 .item ul li {
  list-style-type: none;
}
.cart-main .left .overlay2 .item .remove-btn {
  padding-left: 30px;
}
.cart-main .right2 {
  padding: 40px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .cart-main .right2 {
    width: 100%;
  }

  .cart-main .right2 .cart-total h2 {
    color: green;
  }
}
@media (max-width: 600px) {
  .cart-main .left .overlay2 .item img {
    width: 60px;
    height: 60px;
  }
  .cart-main .left .overlay2 .item .item-details {
    width: 100px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .cart-main .left .overlay2 .item .item-details li {
    font-size: 10px;
  }
  .cart-main .left .overlay2 .item .item-quantity select {
    width: 60px;
    height: 40px;
  }
  .cart-main .left .overlay2 .item .remove-btn {
    padding-left: 2px;
  }
}
