.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.main img {
  height: 200px;
  width: 200px;
  padding-bottom: 20px;
}
.main .btn-remove-cart {
  display: flex;
}
.main .btn-remove-cart div {
  padding-right: 10px;
}

.material-icons:hover {
  cursor: pointer;
  transform: scale(1.2);
}
.cart-display li {
  padding-bottom: 5px;
}
@media (max-width: 600px) {
  .main .btn-remove-cart {
    display: flex;
  }
}
